
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

/* font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Patrick Hand SC', cursive; */

:root {
    --main-color:rgb(83, 167, 90);
    --main-fontFamily: 'Roboto Mono', monospace;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: var(--main-fontFamily);
    line-height: 1.5;
    background-image: url(images/plant-layout-2.jpg);
    background-size:cover;  
  }
  h1 {
    padding: 10px 0px;
    text-align: center;
    color: rgb(58, 123, 63);
    font-family:var(--main-fontFamily);
    font-size: 2.5em;
    line-height: 1;
  }
h2{
    color: var(--main-color);
    font-size: 1.25em;
    text-align: center;
    padding-top: 10px;

}
main{
    
    border: 5px solid var(--main-color);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

  #taskInclusion {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #taskInclusion input {
    padding: 15px 10px;
    outline: none;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgb(58, 123, 63);;
    margin-right: 50px;
    background-color: transparent;
  }
  #taskInclusion select{
  
    padding: 15px 10px;
    outline: none;
    width: 30%;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
#btn-add{
    padding: 9px 12px;
    border:none;
    font-size: 1.42em;
    color: white;
    font-family: var(--main-fontFamily);
    background-color: var(--main-color);
    outline: none;
    width: 10%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #btn-add:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(58, 123, 63);
  }

  #taskFilter{
    margin: 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
  }
  #taskFilter input {
    padding: 15px 10px;
    outline: none;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgb(58, 123, 63);
    margin-right: 50px;
    background-color: transparent;
    
  }
  #taskFilter select{
    padding: 15px 10px;
    outline: none;
    width: 40%;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
  }
  #btn-find{
    padding: 15px 10px;
    text-align: center;
    border:none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--main-color);
    outline: none;
    width: 10%;
    color: white;
    font-size: 1em;
  
  }
  #btn-find:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(58, 123, 63);
  }
  #listContainer {
    width: 100%;
    color: var(--main-color);
    padding-top: 15px;

   
  }
 
  article {

    background-color:var(--main-color);
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    
  }

  article div{
    padding: 15px 10px;
    width: 90%;
    color: white;
  
  
  }

 article div h4{
    display: none;
  }
  article div p{
    display: none;
  }
  
  .btn-delete {
    width: 10%;
    border: none;
    background-color: rgb(83, 167, 90, 0.7);
    color: white;
    font-weight: bold;
    outline: none;
    font-size: 1.2em; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

  }
  .btn-delete:hover {
    cursor: pointer;
    background-color: rgb(58, 123, 63,0.7);
  }
  
 